body {
  background-color: #21325e;
  min-height: 100%;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  color: #f0f0f0;
}

.date {
  padding: 10px;
  font-size: 2.5rem;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.greeting {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  color: #f1d00a;
}

.titleBox {
  padding: 5%;
  max-width: 400px;
  margin: 50px auto;
  background: #3e497a;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

h3 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 2rem;
}

img {
  max-width: 200px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #3e497a;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 2%;
}

ul {
  list-style: none;
  height: auto;
  display: block;
  margin-left: -18px;
}

.form-check-input {
  align-items: center;
  font-weight: 300;
}

input {
  width: 150px;
  height: 30px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  *overflow: hidden;
}

form {
  text-align: center;
}

.btn {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #f1d00a;
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 6px;
  border-width: 0;
  text-align: center;
}

input[type="text"] {
  text-align: center;
  border: none;
  outline: none;
  box-shadow: inset 0 -3px 0 0 #f1d00a;
  background: transparent;
  font-weight: 200;
}

::placeholder {
  color: grey;
  opacity: 1;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  color: #f0f0f0;
  text-align: center;
}
